<!DOCTYPE html>
<html>
  <head>
    <%- include("head") -%>
    <script src="scripts_sts/sts.js"></script>
  </head>
  <body>
    <%- include("header") -%>
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h4>Introduction</h4>
          <p>
            Real Traffic, short for Real Time Traffic Prediction, is a real-time highway traffic prediction model with Windows Azure. This model predicts six hours ahead of time with highway sensor data such as Dedicated Short-Range Communications, Vehicle Detection System, and Toll Collection System, over the range of the Korean highway network as well as arterial road network.
            Real Traffic has four applications. First is the prediction module, which provides future speed and travel time values at five-minute interval to inform both drivers and managers of highway and arterial roads, using Multi-level k-Nearest Neighbors method. Also this module provides future values of Infrastructure-based Collision Risk of the network. Second module is highway demand prediction over 0.2 million pairs of origin and destination tollgates to observe the dynamics of movement on highway, using Scaling k-Nearest Neighbors method. Third module is traffic simulation that provides a basis for traffic control with Modified Cell Transmission Model. This predicts highway performance under various accident and traffic control scenarios and help find highway management strategies for the optimal system performance. Last module is the control module with the online simulation, which optimizes not only the vehicle-mile-travelled, but also the collision risk of drivers on the highway.
            By hybridizing the data from the various types of detectors such as DSRC, VDS, TCS, and mobile data, Real-Time Traffic Prediction algorithm can predate the traffic situation with long-term time interval. By effectively distributing the computation power by AZURE platform, we can provide the real-time service by significantly reducing the computation time.
          </p>

          <h4>Project</h4>
          <p>
            A Project for the Use of Windows Azure in Research
            Project Name: Real-time traffic management system with online simulator and optimal traffic control algorithm based on smart-phone and vehicle detection system in the cloud platform
          </p>

          <h4>Team</h4>
          <p>
            Sehyun Tak, Soomin Woo, Seonghoon Kim and Hwasoo Yeo of Smart Transportation Systems Laboratory,
            Civil and Environmental Engineering Department,
            Korea Advanced Institute of Science and Technology (KAIST), South Korea
          </p>

          <h4>Contact</h4>
          <p>
            373-1 Guseong-dong, Yuseong-gu, Daejeon, 305-701, South Korea
            Tel: +82-42-350-3635
            Fax: +82-42-350-3610
          </p>
        </div>
        <div class="col-md-2"></div>




        </div>
      </div>
    </div>
  </body>
</html>
