<div class="navbar navbar-inverse twoRow">
    <div class="container">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <b>Real</b> Time<br/>
                <b>Traffic</b> Prediction <sub>v.02</sub>
            </a>
        </div>
        <!-- Navbar Links -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">About</a></li>
                <li><a href="/speed">Speed Prediction</a></li>
                <li><a href="/rutp">Route Prediction</a></li>
                <li><a href="/sim">Simulation and Control</a></li>
            </ul>
        </div>
    </div>
</div>
