<div class="panel panel-primary">
  <div class="panel-heading" style="font-size:200%">Simulation</div>
  <div class="panel-body">
    <button id="sim-run" type="button" class="btn btn-primary btn-lg btn-block" style="font-size:50%">Simulation Run</button>
    <button id="con-run" type="button" class="btn btn-primary btn-lg btn-block" style="font-size:50%">Control Run</button>
    <button id="clear-all" type="button" class="btn btn-primary btn-lg btn-block" style="font-size:50%">Clear All</button>
    <a id="sim-traject" type="button" class="btn btn-info btn-lg btn-block" style="font-size:50%" href="/trajectory">Trajectory</a>
    <a id="sim-network" type="button" class="btn btn-info btn-lg btn-block" style="font-size:50%" href="/network">Network Analysis</a>
    <!--a id="sim-toll" type="button" class="btn btn-info btn-lg btn-block" style="font-size:50%" href="/toll">Toll Analysis</a-->
    <button id="sim-toll" type="button" class="btn btn-info btn-lg btn-block disabled" style="font-size:50%" disabled>Toll Analysis</button>
    <button id="con-control" type="button" class="btn btn-info btn-lg btn-block disabled" style="font-size:50%" disabled>Control</button>
  </div>
</div>
