<!DOCTYPE html>
<html>
  <head>
    <%- include("head") -%>
    <script src="scripts_sts/sts.js"></script>
    <script src="scripts_sts/rutp.js"></script>
  </head>
  <body>
    <%- include("header") -%>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div id='mapDiv' style="position:relative; width:100%; height:400px;"></div>
          <ul class="breadcrumb">
            <li>
              <label class="control-label">Origin</label>
              <select id="originSelect">
                <option value="National Assembly">National Assembly</option>
                <option value="Olympic Park">Olympic Park</option>
                <option value="KAIST">KAIST</option>
              </select>
              <label class="control-label">Destination</label>
              <select id="destinatioSelect">
                <option value="KAIST">KAIST</option>
                <option value="National Assembly">National Assembly</option>
                <option value="Olympic Park">Olympic Park</option>
              </select>
              <button type="submit" class="btn"  onclick="findNewRoute()">Search</button>
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <ul class="breadcrumb">
            <li>
              From  <label class="control-label" id="originText">National Assembly</label> to <label class="control-label" id="destinationText">KAIST</label>
            </li>
          </ul>
          <div class="row">
            <center><h4>Delay and Safety Comparison</h4></center>
            <div class="col-md-3">
              <select id="sel_ptime" onchange="selPtime()">
                <option value="KAIST">KAIST</option>
                <option value="National Assembly">National Assembly</option>
                <option value="Olympic Park">Olympic Park</option>
              </select>
              <div style="vertical-align:bottom;">Departure Time</div>
            </div>
            <div class="col-md-9">
              <div class="row">
                <ul class="breadcrumb" style="background:red">
                  <p align="right" style="color:white">Route 1</p>
                </ul>
                <div class="col-md-2">
                  <b><font size="3"><p id="depart_time1">120분</p></font></b>
                  <p id="tra_time1">120분</p>
                </div>
                <div class="col-md-5">
                  <div id="route1_chart1" style="width:100%; height:180px;"></div>
                </div>
                <div class="col-md-5">
                  <div id="route1_chart2" style="width:100%; height: 180px;" onclick="setVisible_route1()"></div>
                </div>
                <div id="route1_chart3" style="width:100%; height: 180px; display:none;"></div>
              </div>
              <div class="row">
                <ul class="breadcrumb" style="background:blue">
                  <p align="right" style="color:white">Route 2</p>
                </ul>
                <div class="col-md-2">
                  <b><font size="3"><p id="depart_time2">120분</p></font></b>
                  <p id="tra_time2">120분</p>
                </div>
                <div class="col-md-5">
                  <div id="route2_chart1" style="width:200px; height:180px;"></div>
                </div>
                <div class="col-md-5">
                  <div id="route2_chart2" style="width:100%; height: 180px;" onclick="setVisible_route2()"></div>
                </div>
                <div id="route2_chart3" style="width:100%; height: 180px; display:none;"></div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <center>Arrival Time</center>
                </div>
                <div class="col-md-5">
                  <center>Traffic Delay</center>
                </div>
                <div class="col-md-5">
                  <center>Collision Risk</center>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <center><h4>Time Series Comparison</h4></center>
            <div id="chart3_time" style="height: 300px; width: 100%"></div>
            <div id="chart3_risk" style="height: 300px; width: 100%"></div>
          </div>
          <div class="row">
            <center><h4>Origin-Destination Demand</h4></center>
            <div class="col-md-6">
              <div id="chart4_ori" style="height: 300px; width: 100%"></div>
            </div>
            <div class="col-md-6">
              <div id="chart4_dest" style="height: 300px; width: 100%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
