<!DOCTYPE html>
<html>
  <head>
    <%- include("head") -%>
    <!-- mbtaviz css -->
    <link href='styles/main.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="scripts_sts/sts.js"></script>
    <script src="scripts_sts/sim.js"></script>
    <style>
      .dot circle {
        fill: lightsteelblue;
        stroke: steelblue;
        stroke-width: 1.5px;
      }

      .dot circle.dragging {
        fill: red;
        stroke: brown;
      }

      .axis line {
        fill: none;
        stroke: #ddd;
        shape-rendering: crispEdges;
        vector-effect: non-scaling-stroke;
      }

      .hide {
        display: none;
      }
      .title {
        font-size: 16px;
      }
      .entire-network rect {
        stroke: black;
        stroke-width: 1px;
        width: 140px;
        height: 20px;
      }
      .entire-network text {
        font-size: 16px;
        fill: white;
      }
      .entire-network.active rect {
        fill: lightgrey;
      }
      .entire-network.active text {
        fill: black;
      }
      .popup {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
        border: 1px solid black;
      }
      .popup h1 {
        text-align: center;
        font-size: 24px;
        color: #FFF;
        margin: 0;
        padding: 10px;
      }
      .popup .popup-row {
        padding: 5px 10px;
      }
      .popup input {
        width: 100%;
      }
      .popup .second {
        position: absolute;
        display: inline-block;
        left: 50%;
      }
      .popup select, .popup button {
        width: 40%;
      }

      .popup.accident, .popup.ramp {
        background-color: #F99;
      }
      .popup.accident h1, .popup.ramp h1 {
        background-color: #F00;
      }
      .popup.roadwork, .popup.travel  {
        background-color: #FFF2CC;
      }
      .popup.roadwork h1, .popup.travel h1 {
        background-color: #FFC000;
      }
      .popup.weather, .popup.newcontrol {
        background-color: #E2F0D9;
      }
      .popup.weather h1, .popup.newcontrol h1 {
        background-color: #70AD47;
      }
      .popup.variable {
        background-color: #DAE3F3;
      }
      .popup.variable h1 {
        background-color: #8FAADC;
      }

      .summary {
        min-height: 100px;
      }
    </style>
  </head>
  <body>
    <%- include("header") -%>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <%- include("nav") -%>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-8 header">
              <div class="graphic"></div>
              <div class="popup">
                <h1></h1>
                <form class="sim-input">
                </form>
                <div class="popup-row">
                  <button class="insert btn btn-default">INSERT</button>
                  <button class="delete btn btn-default second">DELETE</button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  <div id="event_summay">
                    <h3 class="text-center">Event Summary</h3>
                    <ul class="event summary">
                  </div>
                  <div id="control_summay">
                    <h3 class="text-center">Control Summary</h3>
                    <ul class="control summary">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 3rd Party Dependencies -->
    <script src="bower_components/es6-shim/es6-shim.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/d3/d3.js"></script>

    <!-- D3 Plugins -->
    <script src="scripts/horizon.js"></script>
    <script src="bower_components/d3-tip/index.js"></script>

    <!-- Custom Code -->
    <script src="scripts/common.js"></script>
    <script src="scripts_sts/files.js"></script>
    <script src="scripts/dataloader.js"></script>
    <script src="scripts/fixed.js"></script>
    <script src="scripts_sts/spider.js"></script>

  </body>
</html>
