<!DOCTYPE html>
<html>
  <head>
    <%- include("head") -%>
    <link href='styles/main.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%- include("nav") -%>
    <!-- The People -->
    <div class="full-width section-people loading">
      <div class="container">
        <h3>
          <a href="#people" class="anchor">
            <span class="glyphicon glyphicon-link"></span>
          </a>
          The People
        </h3>
        <p>In a typical weekday, 425,000 people enter a station along the red, orange, or blue lines.  On weekends and holidays, that number drops to 200,000.  The busiest day was Friday February 7 when 470,187 people entered the system.</p>
        <p>
          This heatmap shows the average number of people that
          <a href="#" class="hover-link dim" data-dim="exits">enter</a>
          and
          <a href="#" class="hover-link dim" data-dim="entrances">exit</a>
          stations along the red, orange, and blue line for every hour over the entire month based on records from turnstiles at each station.  Each row represents one week. You can see weekends and weekdays with daily peaks at rush hour, as well as
          <a href="#" class="hover-link highlight-total" data-highlight="holidays">a holiday</a>,
          and
          <a href="#" class="hover-link highlight-total" data-highlight="snow">two snow storms</a>.
          Our exit data is less reliable since not all stations require that people exit through a turnstile.
        </p>

        <!-- Turnstile heatmap over the all stations -->
        <div class="spacing">
          <h4 class="text-center">Entrances and Exits from All Stations during February 2014</h4>
          <div class="turnstile-total"></div>
          <div class="turnstile key text-center"></div>
        </div>

        <p>
          The table and map below breaks down February's turnstile entries and exits by station.
          Hover over a row in the table to highlight the corresponding circle on the map, or vice-versa.
          Click on a row in the table to show a detailed heatmap for the entrances to and exits from that station over the month.
          Click and drag on several table rows to highlight a range of stations.
        </p>
        <p>
          You can see the busiest stations are all along the Red Line.
          <a href="#" class="click-link highlight-stops" data-stops="Harvard">Harvard</a>
          topped the list, followed close by
          <a href="#" class="click-link highlight-stops" data-stops="South Station">South Station</a>
          , and then
          <a href="#" class="click-link highlight-stops" data-stops="Downtown Crossing">Downtown Crossing</a>
          .  Next to each station are heatmaps showing
          <a href="#" class="hover-link highlight" data-highlight="entrances">entrances</a>
          and
          <a href="#" class="hover-link highlight" data-highlight="exits">exits</a>
          to each station per-hour for
          <a href="#" class="hover-link highlight" data-highlight="weekday">weekdays</a>
          and
          <a href="#" class="hover-link highlight" data-highlight="offpeak">weekends/holidays</a>.
          You can see that some stations are
          <a href="#" class="click-link highlight-stops" data-stops="South Station,Downtown Crossing,Park Street,Back Bay,Kendall Square,State Street,Charles MGH,Ruggles,JFK/U Mass">work stations</a>
          since their exits peak in the morning and entrances peak in the afternoon and that some stations are
          <a href="#" class="click-link highlight-stops" data-stops="Forest Hills,Davis Square,Malden Center,Maverick,Sullivan Square,Alewife,Porter Square,Quincy Center,Wellington,North Quincy,Oak Grove">home stations</a>
          since their entrances peak in the morning and exits peak in the afternoon.  Some stations are just
          <a href="#" class="click-link highlight-stops" data-stops="Harvard,North Station,Central Square">busy all the time</a>.
        </p>
      </div>

      <!-- Turnstile summary table - map on the left, table on the right -->
      <div class="turnstile-viz fixed-container spacing">
        <h4 class="text-center">Entrances and Exits per Station during February 2014</h4>
        <div class="fixed-left" data-top="0">
          <div class="glyph clearfix"></div>
          <div class="key circles clearfix"></div>
          <div class="side-caption clearfix">
            <p>
              Each circle above and row in the table represent a station, hover over one to highlight the other.
              Next to each station are heatmaps showing
              <a href="#" class="hover-link highlight" data-highlight="entrances">entrances</a>
              and
              <a href="#" class="hover-link highlight" data-highlight="exits">exits</a>
              to each station per-hour for
              <a href="#" class="hover-link highlight" data-highlight="weekday">weekdays</a>
              and
              <a href="#" class="hover-link highlight" data-highlight="offpeak">weekends/holidays</a>.
            </p>
            <p>
              Notice
              <a href="#" class="click-link highlight-stops" data-stops="South Station,Downtown Crossing,Park Street,Back Bay,Kendall Square,State Street,Charles MGH,Ruggles,JFK/U Mass">work stations</a>
              with exit peaks in the morning and entrances peak in the afternoon,
              <a href="#" class="click-link highlight-stops" data-stops="Forest Hills,Davis Square,Malden Center,Maverick,Sullivan Square,Alewife,Porter Square,Quincy Center,Wellington,North Quincy,Oak Grove">home stations</a>
              with entrance peaks in the morning and exit peaks in the afternoon, and the stations that are just
              <a href="#" class="click-link highlight-stops" data-stops="Harvard,North Station,Central Square">busy all the time</a>.
            </p>
          </div>
        </div>
        <div class="fixed-right">
          <div class="inner">
            <div class="turnstile-table"></div>
            <div class="turnstile-all-key key"></div>
          </div>
        </div>
      </div>
    </div>
    <!--div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="panel panel-primary">
            <div class="panel-heading" style="font-size:200%">Simulation</div>
            <div class="panel-body">
              <button type="button" class="btn btn-default btn-lg btn-block" style="font-size:50%">Simulation Run</button>
              <button type="button" class="btn btn-default btn-lg btn-block" style="font-size:50%">Control Run</button>
              <button type="button" class="btn btn-default btn-lg btn-block" style="font-size:50%">Clear All</button>
              <button type="button" class="btn btn-default btn-lg btn-block disabled" style="font-size:50%">Trajectory</button>
              <button type="button" class="btn btn-default btn-lg btn-block disabled" style="font-size:50%">Network Analysis</button>
              <button type="button" class="btn btn-default btn-lg btn-block disabled" style="font-size:50%">Toll Analysis</button>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6 header">
              <div class="graphic">
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div-->

    <!-- 3rd Party Dependencies -->
    <script src="bower_components/es6-shim/es6-shim.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/d3/d3.js"></script>

    <!-- D3 Plugins -->
    <script src="scripts/horizon.js"></script>
    <script src="bower_components/d3-tip/index.js"></script>

    <!-- Custom Code -->
    <script src="scripts/common.js"></script>
    <script src="scripts_sts/files.js"></script>
    <script src="scripts/dataloader.js"></script>
    <script src="scripts/fixed.js"></script>
    <script src="scripts_sts/the-people.js"></script>

  </body>
</html>
