@media (min-width: 768px) {
    .twoRow .navbar-collapse {
        clear: left;
    }
}
.twoRow .navbar-brand {
  display: inline-block;
  height: 70px;
}
#ex1Slider {
  width: 100%;
}
#ex1Slider .slider-selection {
	background: #BABABA;
}
.MicrosoftMapDrawing path {
  cursor: pointer !important;
}
.map-icon {
  width: 30px;
  height: 30px;
}
.graphic .connect {
  stroke-width: 0.5;
  stroke: gray;
}
.graphic .station {
  fill: gray;
  stroke: gray;
  background: gray;
  r: 1px;
}
.graphic circle.train {
}
.summary li {
  font-size: 18px;
}
.timeline {
  position:relative;
  width: 100%;
  height: 300px;
}
.timeline .label-area {
  position: absolute;
  width: 200px;
  height: 100%;
  z-index: 100;
  background-color: white;
}
.timeline .label-area .row-label {
  position: relative;
  display: block;
  height: 41px;
  line-height: 41px;
  width: 200px;
  text-align: center;
  border: 1px solid rgb(183, 183, 183);
}
.timeline .chart-wrap {
  position: absolute;
  left: 200px;
  right: 0;
  height: 100%;
  overflow-x: scroll;
}
.timeline .chart-area {
  position:relative;
  width: 6000px;
  height: 100%;
}
#VSL.timeline {
  height: 550px;
}
#VSL.timeline .label-area .row-label {
  height: 71px;
  line-height: 71px;
}
.mareyline {
  fill: transparent !important;
}
.Kyungbu {
  fill: #22B04C;
  stroke: #22B04C;
  background-color: #22B04C!important;
}
.Seohaean {
  fill: #FFF100;
  stroke: #FFF100;
  background-color: #FFF100!important;
}
.CheonanNonsan {
  fill: #777F27;
  stroke: #777F27;
  background-color: #777F27!important;
}
.DanjikYoungduk {
  fill: #01A2E8;
  stroke: #01A2E8;
  background-color: #01A2E8!important;
}
.Joongbu {
  fill: #ED1C23;
  stroke: #ED1C23;
  background-color: #ED1C23!important;
}
.PyungtaekJecheon {
  fill: #130082;
  stroke: #130082;
  background-color: #130082!important;
}
.Youngdong {
  fill: #A34AA4;
  stroke: #A34AA4;
  background-color: #A34AA4!important;
}
