@media (min-width: 768px) {
    .twoRow .navbar-collapse {
        clear: left;
    }
}
.twoRow .navbar-brand {
  display: inline-block;
  height: 70px;
}
#ex1Slider {
  width: 100%;
}
#ex1Slider .slider-selection {
	background: #BABABA;
}
